.table{
    padding: 0 32px;
}

.table-heading{
    font-weight: 600;
}

.table-search{
    border: none;
    width: 220px;
    height: 40px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-inline-start: 16px;
    gap: 5px;
   color: #D9D9D9;
   font-family: 'Galano Grotesque Alt', sans-serif;
   margin-right: 125px;
   border:1px solid #D9D9D9 ;
}
.table-search input {
    width: 90%;
    background: transparent;
    border: none;
}

.table-container{
    display: flex;
    flex-direction: column;
    margin:35px 0;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 6px 0px #1A181E0A;

}
.table-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-option-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sort{
    padding:  10px 15px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.download{
    padding:11px;
    border: 1.1px solid #D9D9D9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

table{
    margin-top: 10px;
    border-collapse: collapse;
}
thead{
    background-color: #F2F2F2;
    border-radius: 7px;
}
th{
    color: #4c4c4c;
    font-weight: 400;
    padding: 10px 8px;
    
}
tr ,.thead-tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

th{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

 tbody tr{
    display: flex;
    align-items: center;
    padding: 14px 9px;
    font-weight: 500;
    font-size: 15px;
}

.table-data{
    border-bottom: 1px solid #F2F2F2;
}
