.sidebar-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

}
.profile{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.profile-icon{
    width: 42px;
    height: 42px;
    border-radius: 3px;
    background-color: white;
}
.profile-detail{
    padding-left: 13px;
    display: flex;
    flex-direction: column;

}

.user-name{
    color: white;
    font-size: 16px;
}
.store-link{

    margin-top: 5px;
    margin-bottom: -1px
}
.store-link a{
    text-decoration: none;
    font-size: 14px;
    color: #bcbec6;
}
.underline{
    background-color: #bcbec6;
    width: 65px;
    height: 0.5px;
}
.down-icon{
    scale: 1.2;
    margin-top: 7px;
    margin-left: auto;
}
.options{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding:0 9px;
    
}

.options-container{
    display: flex;
    gap: 15px;
    color: var(--icon-grey);
    align-items: center;
    padding: 0.63rem;
    padding-inline-start: 18px;
}
.options-container svg{
    scale: 1.1;
}
.options-container span{
    font-size: 15px;
    font-weight: 400;
}

.options-container:hover , .selected{
    background-color: #343c53;
    color: white;
    border-radius: 4px;
}

.wallet{
    display: flex;
    padding: 3px 9px;
    padding-bottom: 1px;
    gap: 5px;
    background-color: #343c53;
    margin: 3px 11px;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    width: -webkit-fill-available;


}
.wallet-info{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    gap: 5px;

}
.wallet-icon{
    padding: 5px;
    align-self: center;
}
.wallet-info span:nth-child(1){
    font-size: 13px;
    color: var(--icon-grey);
    font-weight: 400;

}
.wallet-info span:nth-child(2){
    font-size: 13px;
    color: white;
    font-weight: 500;
    padding-top: -1px;

}